{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between mt-2 pt-2">
		<div class="d-flex align-items-center row">
			<div>
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); font-wiight:" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('dashboard_index') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Profile
						</li>
					</ol>
				</nav>
			</div>
			<div class="h1">
				Profile
			</div>
		</div>
	</div>
	<p class="text-secondary">Profile page where you update your personal info.</p>

	<div class="card mt-1 shadow border-0 mb-4">
		<div class="card-body">

			<form method="post" enctype="multipart/form-data" class="w-50">
				<input type="hidden" name="_token" value="{{ csrf_token('update' ~ user.id) }}">

				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" value="{{ user.name }}" required>
				</div>

				<div class="form-group">
					<label for="name">Email</label>
					<input type="email" id="email" name="email" class="form-control" value="{{ user.email }}" required>
				</div>

				<div class="form-group mt-2 mb-2 d-none">
					<label for="isBanned">Is Banned</label>
					<input type="checkbox" id="isBanned" name="is_banned" {% if user.isBanned %} checked {% endif %} disabled>
				</div>

				<div class="form-group">
					<label for="short_bio">Bio</label>
					<textarea id="short_bio" name="short_bio" class="form-control">{{ user.getShortBio }}</textarea>
				</div>

				<div class="form-group">
					<label for="avatar">Avatar</label>
					<input type="file" id="avatar" name="avatar" class="form-control">
					{% if user.avatar %}
						<img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.name }}" width="100" class="img-fluid my-2">
					{% else %}
						None
					{% endif %}
				</div>

				<div class="form-group">
					<label for="jobTitle">Job Title</label>
					<input type="text" id="job_title" name="job_title" class="form-control" value="{{ user.jobTitle }}">
				</div>

				<div class="form-group">
					<label for="socMedia">Social Media</label>
					<input type="text" id="soc_media" name="soc_media" class="form-control" value="{% if user.getSocMedia is not null and user.getSocMedia is defined %} {{ user.getSocMedia|join(', ') }} {% else %} None {% endif %}">
					<div id="socMedia" class="form-text">Use comma separator to add Social Media.</div>
				</div>

				<button type="submit" class="btn btn-primary mt-2">Update</button>
			</form>

			<div class="pt-2">
				<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" style="display: inline-block;">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
					<button type="submit" class="btn btn-danger">Delete account</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
