{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between mt-2 pt-2">
		<div class="d-flex align-items-center row">
			<div>
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); font-wiight:" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('dashboard_index') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item" aria-current="page">
							<a href="{{ path('category_index') }}">Categories</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							{{ category.id }}
						</li>
					</ol>
				</nav>
			</div>
			<div class="h1">
				Edit Category
			</div>
		</div>
	</div>
	<p class="text-secondary">The item will take direct action over the representation to the WEB UI.</p>

	<div class="card mt-1 shadow border-0 mb-4">
		<div class="card-body">
			<form method="post" enctype="multipart/form-data" class="w-50">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" value="{{ category.name }}">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" name="description" class="form-control">{{ category.description }}</textarea>
				</div>
				<div class="form-group">
					<label for="avatar">Avatar</label>
					<input type="file" id="avatar" name="avatar" class="form-control">
					{% if category.avatar %}
						<img src="{{ asset('uploads/avatars/' ~ category.avatar) }}" alt="{{ category.name }}" width="100" class="img-fluid my-2">
					{% endif %}
				</div>
				<select id="parent_id" name="parent_id" class="form-control">
					<option value="">Select Parent Category</option>
					{% for cat in allCategories %}
						<option value="{{ cat.id }}" {% if category.parent and category.parent.id == cat.id %} selected {% endif %}>{{ cat.name }}</option>
					{% endfor %}
				</select>
				<button class="btn btn-primary mt-2">Update</button>
			</form>

			<div class="pt-2">
				<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" style="display: inline-block;">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
					<button class="btn btn-danger">delete</button>
				</form>
			</div>

		</div>
	</div>
{% endblock %}
