{% extends 'guest.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
					<div class="card border border-light-subtle rounded-3 shadow-sm">
						<div class="card-body p-3 p-md-4 p-xl-5">
							<div class="text-center mb-3">
								<a href="#!" class="text-dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-terminal">
										<polyline points="4 17 10 11 4 5"></polyline>
										<line x1="12" y1="19" x2="20" y2="19"></line>
									</svg>
								</a>
							</div>
							<h1 class="h3 mb-3 font-weight-normal text-center">Elrnero Admin Panel</h1>


							<form method="post">
								<div class="row gy-2 overflow-hidden">
									{% if error %}
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}

									{% if app.user %}
										<div class="mb-3 text-center">
											You are logged in as
											{{ app.user.userIdentifier }},
											<br/>
											<a href="{{ path('dashboard_index') }}">Dashboard</a>
											|
											<a href="{{ path('app_logout') }}">Logout</a>
										</div>
									{% else %}
										<h2 class="fs-6 fw-normal text-center text-secondary mb-4">Login to your account</h2>

										<div class="col-12">
											<div class="form-floating mb-3">
												<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>

												<label for="email" class="form-label">Email</label>
											</div>
										</div>


										<div class="col-12">
											<div class="form-floating mb-3">
												<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
												<label for="password" class="form-label">Password</label>
											</div>
										</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

										<div class="checkbox mb-3">
											<input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-label text-secondary">
											<label for="_remember_me">Remember me</label>
										</div>

										<div class="col-12">
											<div class="d-grid my-3">
												<button class="btn btn-primary btn-lg" type="submit">Log in</button>
											</div>
										</div>
									{% endif %}

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
