{% extends 'base.html.twig' %}

{% block title %}View User
{% endblock %}

{% block body %}
	<div class="card mt-1 shadow border-0 mb-4">
		<div class="card-body">
			<h5 class="card-title">User</h5>
			<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

			<table class="table">
				<tbody>
					<tr>
						<th>ID</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>Name</th>
						<td>{{ user.name }}</td>
					</tr>
					<tr>
						<th>Is Banned</th>
						<td>{{ user.isBanned ? 'true' : 'false' }}</td>
					</tr>
					<tr>
						<th>Bio</th>
						<td>{{ user.getShortBio }}</td>
					</tr>
					<tr>
						<th>Avatar</th>
						<td>
							{% if user.avatar %}
								<img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.name }}" width="100">
							{% else %}
								No avatar
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Job Title</th>
						<td>{{ user.getJobTitle }}</td>
					</tr>
					<tr>
						<th>Soc media</th>
						<td>
							{% if user.getSocMedia is not null and user.getSocMedia is defined %}
								{{ user.getSocMedia|map(link => link|trim)|join(', ') }}
							{% else %}
								None
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pt-2">

				<a href="{{ path('user_index') }}" class="btn btn-primary">Back to list</a>
				<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">Edit</a>
				<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" style="display: inline-block;">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
					<button class="btn btn-danger">delete</button>
				</form>
			</div>


		</div>
	</div>
{% endblock %}
