{% extends 'base.html.twig' %}

{% block title %}View User
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between mt-2 pt-2">
		<div class="d-flex align-items-center row">
			<div>
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); font-wiight:" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('dashboard_index') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item" aria-current="page">
							<a href="{{ path('user_index') }}">Users</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							{{ user.id }}
						</li>
					</ol>
				</nav>
			</div>
			<div class="h1">
				User
			</div>
		</div>
	</div>
	<p class="text-secondary">Any details related to this entity item can be viewed here.</p>

	<div class="card mt-1 shadow border-0 mb-4">
		<div class="card-body">
			<table class="table">
				<tbody>
					<tr>
						<th>ID</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>Name</th>
						<td>{{ user.name }}</td>
					</tr>
					<tr>
						<th>Is Banned</th>
						<td>{{ user.isBanned ? 'true' : 'false' }}</td>
					</tr>
					<tr>
						<th>Bio</th>
						<td>{{ user.getShortBio }}</td>
					</tr>
					<tr>
						<th>Avatar</th>
						<td>
							{% if user.avatar %}
								<img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.name }}" width="100">
							{% else %}
								None
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Job Title</th>
						<td>{{ user.getJobTitle }}</td>
					</tr>
					<tr>
						<th>Soc media</th>
						<td>
							{% if user.getSocMedia is not null and user.getSocMedia is defined %}
								{{ user.getSocMedia|map(link => link|trim)|join(', ') }}
							{% else %}
								None
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pt-2">
				<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">Edit</a>
				<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" style="display: inline-block;">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
					<button class="btn btn-danger">delete</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
